{{#unless init_config}}
<form class="form-group" action = "/mauderequest/metared" method="POST">
    <label for="config">Initial Configuration:</label>
    <input id="config" type="text" name="config"/>
    <button class = "btn btn-success" type="submit"> Submit config</button>
</form>
{{/unless}}

{{#if init_config}}
<p>Initial Configuration: {{init_config}}</p>
<hr>
<h2><
    {{#each clickable_procs}}
        {{#if @last}} <a href='/mauderequest/metaapp/{{this}}'>{{this}}</a> {{else}} <a href='/mauderequest/metaapp/{{this}}'>{{this}}</a>, {{/if}}
    {{/each}}
    <span>; {{constraints}}</span>
    >
<h2>
<p></p>
{{/if}}