<p hidden class = 'hiddenTreeData'>{{treeData}}</p>

<form hidden action = "/mauderequest/changeBranch" method="POST">
    <input id = 'idBranch' type="text" name="id">
    <button class="submitAcessBranch">SubmitAcess</button>
</form>


<h2 class = "mt-4">Configuration:</h2>
<h4 class = "mt-4">
    <
    {{#unless isTerminal}}
        {{#each clickable_procs}}
            <a class = 'btn btn-light' href='/mauderequest/metaapp/{{this}}'>{{this}}</a>{{#if @last}}{{else}},{{/if}}      
        {{/each}}
    {{else}}
        empty 
    {{/unless}}
    <span>; {{constraints}}</span>
    >
</h4>
<hr>
    {{>tree}}
    
    <h3>Tree View:</h3>
    <div class = 'treeSvg'>

    </div>

    
<script>
    plotTree(document.querySelector('.hiddenTreeData').textContent, '{{currentId}}')
</script>