{{#each erros}}
    <div class = "alert alert-danger">{{texto}} </div>
{{else}}
{{/each}}


<p>Initial Configuration: {{initial}}</p> 
<a href = "/clearcookies">
<hr>
<h2><
    {{#each clickable_procs}}
        {{#if @last}} <a href='/mauderequest/metaapp/{{this}}'>{{this}}</a> {{else}} <a href='/mauderequest/metaapp/{{this}}'>{{this}}</a>, {{/if}}
    {{/each}}
    <span>; {{constraints}}</span>
    >
<h2>
<p></p>